/RunUO.exe
/RunUO.pdb
/RunUO.vshost.exe
/Logs/
/Scripts/bin/
/Scripts/obj/
/Scripts/Output
/Server/bin/
/Server/obj/

*.user
*.suo
/Backups
/Saves
/target
/lib
/classes
/checkouts
/resources
pom.xml
pom.xml.asc
*.jar
*.class
*.DS_Store
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.lein-env
.nrepl-port
